:root {
  --bg-dark: #000000; /* True Black */
  --bg-card: #121212; /* Matte Black Surface */
  --bg-input: #1a1a1a; /* Dark Input */
  --text-primary: #ededed; /* Software White */
  --text-secondary: #737373; /* Neutral 500 */
  --accent-primary: #ffffff; /* White actions */
  --accent-hover: #d4d4d4; /* Light Gray hover */
  --accent-success: #10b981; /* Emerald */
  --accent-error: #ef4444; /* Red */
  --border-color: #262626; /* Neutral 800 */
  --shadow-lg: 0 0 0 1px rgba(255, 255, 255, 0.05),
    0 20px 25px -5px rgba(0, 0, 0, 0.5), 0 8px 10px -6px rgba(0, 0, 0, 0.5);

  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--text-primary);
  background-color: var(--bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  background-color: var(--bg-dark);
}
